hr {
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}
form textarea {
    min-height: 14em;
}

form ::-webkit-input-placeholder {
    color: #555 !important;
}

form :-moz-placeholder {
    color: #555 !important;
}

form ::-moz-placeholder {
    color: #555 !important;
}

form :-ms-input-placeholder {
    color: #555 !important;
}

form ::-moz-focus-inner {
    border: 0;
}
  /* Table */
  table tbody tr:nth-child(2n+2) {
    background: #f4f4f4;
}
form input[type="text"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form select:focus,
		form textarea:focus {
			box-shadow: 0 0 2px 1px #8ebebc;
			background: #fff;
		}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form select {
		line-height: 1.25em;
	}
table th {
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    color: #fff;
    background: #222729 url("images/overlay.png");
}
table thead {
    background: #444;
    color: #fff;
}

table tfoot {
    background: #eee;
}
input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background-color: #9ececc;
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background-color: #7eaeac;
		}

        /* Item */

	.item {
		box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
		margin-bottom: 40px;
	}

		.item header {
			background: #fff;
			margin: 0;
			padding: 1em 0 1em 0;
			font-size: 0.8em;
		}

			.item header h3 {
				font-size: 1em;
			}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon > .label {
			display: none;
		}

        /* Main */
        #main > section.dark {
            color: #ddd;
            color: rgba(255, 255, 255, 0.75);
        }

            #main > section.dark h2, #main > section.dark h3, #main > section.dark h4, #main > section.dark h5, #main > section.dark h6 {
                color: inherit;
            }

            #main > section.dark strong {
                color: #fff;
                border-color: inherit;
            }

            #main > section.dark a {
                color: #fff;
                border-color: inherit;
            }

                #main > section.dark a:hover {
                    border-bottom-color: rgba(255, 255, 255, 0);
                }

                #main > section.cover {
                    padding: 10em 0;
                    background-size: cover;
                    background-position: center center;
                }
    
                #main > section.one {
                    background-color: #81918E;
                    background-image: url("../../images/hamza11.jpeg");
                }
    
                #main > section.two {
                    background-color: #f5fafa;
                }
    
                #main > section.three {
                    background-color: #ecf1f1;
                }
    
                #main > section.four {
                    background-color: #e8edec;
                }